<!-- discover html I may need to write quieres for this but IDK how tags is set up yet

potentially use sql queries or the below styled if statments to handle finding only the ones of a certian tag type


 <input type="hidden" name="course_id" value="{{this.course_id}}">
                    <button type="submit" class="{{#unless this.taken}}btn-success{{/unless}}" {{#if
                        this.taken}}disabled{{/if}}>Add</button> 

-->


