{{> message }} 
{{>nav}}
{{> nav2 }} <!-- Why is this overpowering the initial nav? -->

<table>
    <thead>
        <tr>
            <th>World Name</th>
            <th>World Creator</th>
            <th>World Tags</th> <!-- Whatever other aspects should be displayed -->
            <th>Visit</th>
        </tr>
    </thead>
    <tbody>
        {{#each files}} <!-- can I pile on if statments here for the tags, also where can I find this ? -->
        <tr>
            <td>{{this.username}}</td>
            <td>{{this.filename}}</td>
            <!-- <td>{{this.world_tags}}</td> -->
            <td>
                <form method="GET" action="/view">
                <!-- app.get('/view', (req, res) => {
    res.render('world_files/index');
}); -->
                    <button type="submit" >Visit</button> 
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>