<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 20px;
            padding: 20px;
        }
        .grid-item {
            background-color: #77d6f8;
            /* thoughtd be cute to make them circles */
            width: 150px;
            height: 150px;
            border-radius: 50%;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>{{title}}</h1>
    <div class="grid-container">
        {{#each nodes}}
            <div class="grid-item">
            <p>{{this.username}}'s World</p>
            <p>Filename: {{this.filename}}</p>
            </div>
        {{/each}}
    </div>
</body>
</html>