{{> filenav}}
{{> message}}
<form action="/save" method="POST">
    <div class="form-group">
        <label for="editor">Editor</label>
        <textarea class="form-control" id="editor" name="Editor" placeholder="Enter text here..." rows="40" cols="100">{{file}}</textarea>
    </div>
</form>

{{!-- TODO --}}
