<div class="container">
    <div class="row">
        <div class="col">
            <h1>test testsetsetset</h1>
        </div>
        <div class="col pt-5">
            <h1>Register</h1>
            <form action="/register" method="POST">
                <div class="form-group py-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn" style="background-color: #8AF7F8;">Register</button>
                <p class="py-2">Already have an account? <a href="/login" style="color:#8AF7F8;">Login</a></p>
            </form>
        </div>
    </div>
</div>