<div class="dropup position-fixed bottom-0 end-0 pb-5 pe-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Friends List
    </button>
    <div class="dropdown-menu overflow-auto px-2" style="max-height: 200px;">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        {{#each friends}}
        <a href="friend's world">{{friend}}</a>
        {{/each}}
        <a href="friend's world" class="dropdown-item">friend</a>
        <a href="friend's world" class="dropdown-item">friend</a>
        <a href="friend's world" class="dropdown-item">friend</a>
        <a href="friend's world" class="dropdown-item">friend</a>
        <a href="friend's world" class="dropdown-item">friend</a>
        <a href="friend's world" class="dropdown-item">friend</a>
        <a href="friend's world" class="dropdown-item">friend</a>
        <a href="friend's world" class="dropdown-item">friend</a>
        </ul>
    </div>
</div>