<div class="dropup dropup position-fixed bottom-0 end-0 pb-5">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Friends List
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="a user's world">Friend 1</a></li>
    <li><a class="dropdown-item" href="a user's world">Friend 2</a></li>
    <li><a class="dropdown-item" href="a user's world">Friend 3</a></li>
  </ul>
</div>