{{#if message}}
  <div id="m" class="alert alert-{{#if error}}danger{{else}}success{{/if}}" role="alert">
    {{ message }}
  </div>
  <script>
    const message = document.querySelector(`#m`);
    console.log(`${message} exists maybe`);
    message.addEventListener(`click`, () => {
      message.style = `display:none;`;
    });
  </script>
{{/if}}